.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--primary-color);
}

.footerLine {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.line {
  flex-grow: 1;
  border: none;
  border-top: 0.8rem solid #fff;
  margin-bottom: 2rem;
}

.logo {
  margin-bottom: 20px;
}

.social {
  color: #fff;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  flex-direction: row;
  padding-top: 3em;
}

.info a {
  background: none;
  color: inherit;
  text-decoration: none;
}

.info a:hover {
  color: #ccc; /* Oder jede andere Farbe, die Sie möchten */
}

.design, .legal {
  display: flex;
  flex-direction: column;
}

.legal {
  line-height: 2rem;
}

.design {
  text-align: left;
}

.fbLink {
  color: white;
}

@media screen and (max-width: 768px) {
  .info {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 2em;
  }

  .social {
    padding: 2em;
  }

  .design, .legal {
    text-align: center;
  }
}
