.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--primary-color);
}


.footerLine {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.line {
  flex-grow: 1;
  border: none;
  border-top: 0.9rem solid #fff;
  background:
    linear-gradient(135deg, transparent 45px, #ddd 0)
}


.logo {
  margin-bottom: 20px;
}

.social {
  margin-bottom: 20px;
  color: #fff;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
}

.design {
  text-align: left;
}

.legal {
  text-align: right;
}

.fbLink {
  color: white;
}
