.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--primary-color);
}

.footerLine {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.line {
  flex-grow: 1;
  border: none;
  border-top: 0.9rem solid #fff;
  background: linear-gradient(135deg, transparent 45px, #ddd 0);
}

.logo {
  margin-bottom: 20px;
}

.social {
  margin-bottom: 20px;
  color: #fff;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  flex-direction: row;
}

.info a {
  background: none;
  color: inherit;
  text-decoration: none;
}

.info a:hover {
  color: #ccc; /* Oder jede andere Farbe, die Sie möchten */
}


.design, .legal {
  display: flex;
  flex-direction: column;
}

.design {
  text-align: left;
  line-height: 1.2em; /* Anpassung des Zeilenabstands in Bezug auf die Schriftgröße */
}

.fbLink {
  color: white;
}

@media screen and (max-width: 768px) {
  .info {
    flex-direction: column;
    align-items: center;
  }
  .design, .legal {
    text-align: center;
  }
}
