@import './fonts.css';

:root {
  --primary-color: #b02c2d;
  --secondary-color: #FAF9F6;
  --text-dark: #333;
  --text-bright: #FAF9F6;
  --background-color: #FAF9F6;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
  margin: 0;
}

.layout-container {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  min-height: 100vh; /* Setzt die minimale Höhe auf die volle Bildschirmhöhe */
}

.page-content {
  flex: 1; /* Lässt den Inhalt den verfügbaren Raum ausfüllen */
  padding: 1rem;
}

@media (min-width: 768px) {
  .page-content {
    padding: 2rem; /* Erhöht den Abstand auf größeren Bildschirmen */
  }
}
