@import './fonts.css';

:root {
  --primary-color: #b02c2d;
  --secondary-color: #FAF9F6;
  --text-dark: #333;
  --text-bright: #FAF9F6;
  --background-color: #FAF9F6;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--secondary-color); ;

  /* color: var(--text-color); */
}
