.container {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
  align-items: stretch;  /* Make sure children stretch to fill vertically */
  justify-content: space-between;
  height: 70vh;  /* Define the height here instead */
}

.imageWrapper {
  flex: 1;
  position: relative;
  height: 70vh;
  background-color: var(--primary-color);
  padding: 2%;
  /* overflow: hidden; */
  box-sizing: border-box;
  margin-left: -4em;
}

.imageContent {
  position: relative;
  height: 100%;
  margin-left: -5%;
  width: 105%;
  margin-left: 3vw;
}

.text {
  flex: 1;
  display: flex;  /* Add this to make sure the text aligns properly */
  align-items: center;  /* Vertically center the text */
  justify-content: center;
  padding-right: 1em;
  margin-left: 5em;
}

/* For smaller screens */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    height: 130vh;  /* Let the height adjust naturally on small screens */
  }

  .imageContent {
    margin-left: 4vw;
  }
}
