.container {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
  align-items: stretch;  /* Make sure children stretch to fill vertically */
  justify-content: space-between;
  height: 50vh;  /* Define the height here instead */
}

.imageWrapper {
  flex: 1;
  position: relative;
  background-color: var(--primary-color);
  padding: 2%;
  box-sizing: border-box;
  margin-left: -4em;
}

.imageContent {
  position: relative;
  height: 100%;
  margin-left: -5%;
  width: 105%;
  margin-left: 4vw;
}

.text {
  flex: 1;
  display: flex;  /* Keeps the flex container */
  align-items: flex-start;  /* Align the items to the start (top) */
  justify-content: center;  /* Start the content from the start (top) */
  flex-direction: column;  /* Make the content stack vertically */
  padding-right: 6em;
  padding-left: 10em;
  height: 100%; /* Make sure it takes up full height */
}


/* For smaller screens */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    height: 130vh;  /* Let the height adjust naturally on small screens */
  }

  .imageWrapper {
    margin-right: 1vw;
    padding: 3%;
  }

  .imageContent {
    margin-left: -5vw;
  }

  .text {
    padding-right: 0em;
    /* padding-top: 0em; */
    margin-left: 0em;
    /* text-align: center; */
    align-items: center;
    padding-left: 0em;
    padding: 1em
  }
}
