.container {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
  /* align-items: stretch; */
  justify-content: space-between;
  height: 70vh;
  flex-direction: row-reverse;
  padding: 2%;
}

.imageWrapper {
  flex: 1;
  position: relative;
  height: 70vh;
  background-color: var(--primary-color);
  box-sizing: border-box;
    overflow: hidden;

}

.imageContent {
  position: relative;
  height: 100%;
  width: 100%;
}

.text {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    height: 130vh;
    padding: 0;
  }
}
