.container {
  width: 90%;
  margin: 0 auto;
  padding-top: 2rem;
  color: var(--text-bright);
}

.container a {
  color: var(--text-bright);
  text-decoration: none;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.subtitle {
  margin-bottom: 1rem;
}

.paragraph {
  line-height: 1.7;
  margin-bottom: 1rem;
}
