.main {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/img/pictures/landing.jpg');
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.redSquare {
  position: relative;
  z-index: 1;
  background-color: var(--primary-color);
  padding: 10px;
  color: var(--text-bright);
  text-align: left;
  max-width: 30rem;
  max-height: 35rem;
  min-height: 19rem;
}

#historySection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.historyContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scroll-reveal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scroll-reveal img {
  flex: 1;
  margin-right: 20px;
}

.scroll-reveal p {
  flex: 2;
}

.historySection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
}












.contactSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
}

.contactContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.mapPlaceholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .8); /* Transparenz kann nach Bedarf angepasst werden */
  background-image: url('/assets/img/pictures/map.png');
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 450px;
  color: white;
  text-align: center;
  padding: 20px;
}

.mapPlaceholder a {
  color: white;
  text-decoration: underline;
}

.mapPlaceholder button {
  margin-top: 20px;
}


.map {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}

.redSquare {
  flex: 1;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  padding: 20px;
}

.confirmButton {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .contactSection {
    flex-direction: column;
    height: auto;
  }
}















@media (max-width: 768px) {
  .historySection {
    flex-direction: column;
    height: auto;
  }
}

.redSquares {
  flex: 1;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  padding: 20px;
}

.image {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.timeLabel {
  font-weight: bold;
  display: inline-block;
  width: 150px;
}
