.main {
  position: relative; /* Position auf 'relative' setzen, damit das 'z-index' der Kinder funktioniert */
  height: 100vh; /* Höhe auf 100% des Viewports setzen */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Textfarbe auf weiß setzen, damit er auf dem dunklen Hintergrund sichtbar ist */
  z-index: 1; /* 'z-index' auf 1 setzen, damit der Text über dem Hintergrundbild erscheint */
}

.backgroundImage {
  position: absolute; /* Position auf 'absolute' setzen, damit das Bild den gesamten '.main'-Container ausfüllt */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/img/pictures/landing.jpg');
  background-size: cover; /* Bild auf 'cover' setzen, damit es den gesamten Container ausfüllt */
  background-position: center; /* Bild zentrieren */
  z-index: 0; /* 'z-index' auf 0 setzen, damit das Bild hinter dem Text erscheint */
}
