.main {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/img/pictures/landing.jpg');
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.redSquare {
  position: relative;
  z-index: 1;
  background-color: var(--primary-color);
  padding: 10px;
  color: var(--text-bright);
  text-align: left;
  /* left: -10%; */
  max-width: 30rem;
  max-height: 35rem;
  min-height: 19rem;
}

#historySection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.historyContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scroll-reveal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scroll-reveal img {
  flex: 1;
  margin-right: 20px;
}

.scroll-reveal p {
  flex: 2;
}
