/* styles/InfoBar.module.css */
.infoBar {
  color: var(--secondary-color);
  background-color:var(--primary-color);
  padding: 0.5rem;
  text-align: left;
  font-size: 0.9rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  display: flex;
  justify-content: space-between;
}

.openingHours {
margin-left: 1rem;
}

.phoneNumber {
margin-right: 1rem;
}

.mobileBreak {
display: none;
}

@media (max-width: 767px) {
.infoBar {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.openingHours {
  margin-left: 0;
  margin-bottom: 0;
  text-align: left;
  flex: 1;
}

.mobileBreak {
  display: inline;
}

.phoneNumber {
  margin-right: 0;
  text-align: right;
  flex: 1;
}
}
