.nav {
  align-items: center;
  background-color: var(--secondary-color);
  position: sticky;
  overflow: hidden;
  text-align: left;
  font-size: 0.8rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  transition: 0.3s all ease;
}

.logo {
  height: 100%;
  margin-right: 1rem;
  margin-top: 0.3rem;
  margin-left: 1rem;
}

.navLinksMobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  z-index: 100;
  background-color: rgba(250, 249, 246, 0.95);
  font-size: 2rem;
  list-style: none;

}

.navLinksMobile.show {
  transform: translateX(0);
}

.navLinksDesktop {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin-right: 1rem;
}


.link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.8s linear;
}

.link:hover {
  color: #5C1717; /* Oder jede andere Farbe, die Sie möchten */
}



@media (max-width: 767px) {
  .navLinksDesktop {
    display: none;
  }
}
