.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--secondary-color);
  position: relative;
  transition: top 1s ease-in-out;
  z-index: 200;
  overflow: hidden;
}

.sticky {
  position: fixed;
  top: 0;
  width: 98%
}

.link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

.navLinksMobile {
  display: none;
  list-style: none;
  padding: 0;
  position: fixed;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  left: 0;
  flex-direction: column;
  text-align: center;
  background-color: var(--secondary-color);
}

.show {
  display: flex;
}

.navLinksDesktop {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin-left: auto;
}

.logo {
  height: 100%;
  margin-right: 1rem;
}

/* Show mobile menu for screens smaller than 768px */
@media (max-width: 767px) {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .navLinksMobile {
    display: flex;
    gap: 1rem;
    top: 4.5rem;
  }

  .navLinksDesktop {
    display: none;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 90%
  }
}
