.container {
  position: relative;
  z-index: 100;
}

.infobar {
  position: absolute;
  top: 0;
  /* width: 100%; */
  z-index: 200;
}

.navbar {
  position: fixed;
  top: 50px; /* Die tatsächliche Höhe Ihrer Infobar */
  width: 100%;
  z-index: 200;
}
