.nav {
  align-items: center;
  background-color: var(--secondary-color);
  position: sticky;
  text-align: left;
  font-size: 0.8rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  transition: 0.3s all ease;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}

.logo {
  height: 100%;
  width: auto;
  margin-right: 1rem;
  margin-top: 0.3rem;
  margin-left: 1rem;
}


.navLinksMobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.35s ease-in-out;
  transform: translateX(-100%);
  z-index: 100;
  background-color: var(--primary-color);
  font-size: 1.6rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navLinksMobile li {
  padding: 0.8em 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  width: 60%;
}

.navLinksMobile.show {
  transform: translateX(0);
}

.navLinksDesktop {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin-right: 1rem;
}

.link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.8s linear;
}

.linkMobil {
  color: white !important;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.8s linear;
}

.link:hover {
  color: #5C1717; /* Oder jede andere Farbe, die Sie möchten */
}

@media (max-width: 767px) {
  .navLinksDesktop {
    display: none;
  }
}
