.nav {
  align-items: center;
  padding: 1rem;
  background-color: var(--secondary-color);
  position: sticky;
  overflow: hidden;
  padding: 0.5rem;
  text-align: left;
  font-size: 0.9rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  transition: 0.3s all ease;
}

.logo {
  height: 100%;
  margin-right: 1rem;
}

.navLinksMobile {
  display: none;
  list-style: none;
  padding: 0;
  position: fixed;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  flex-direction: column;
  text-align: center;
  background-color: var(--secondary-color);
}


.show {
  display: flex;
}

.navLinksDesktop {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin-left: auto;
}

.link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

@media (max-width: 767px) {
  .navLinksDesktop {
    display: none;
  }
}
