.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
  color: var(--text-bright);
}

.title {
  text-align: center;
  margin-bottom: 4rem;
}

.subTitle {
  margin-bottom: 1rem;
}

.paragraph {
  line-height: 1.6;
  margin-bottom: 1rem;
}
