.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.redSquare {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: red;
}

.imageContainer {
  position: absolute;
  top: -50px;
  left: -50px;
  width: 400px;
  height: 400px;
  overflow: hidden;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .redSquare {
    width: 100%;
    height: auto;
  }

  .imageContainer {
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
  }
}
