.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.imageContainer {
  width: 50%;
  height: 300px;
  position: relative;
  overflow: hidden;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .imageContainer {
    width: 100%;
    margin-bottom: 1rem;
  }
}
