.textService {
  flex: 1;
  order: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

.text {
  padding: 10px;
  text-align: center;
  display: block;

}

.subtext {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  display: block;

}
