.textService {
  flex: 1;
  order: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

.text {
  padding: 0.5em;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0;
}

.subtext {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  margin: 0;
}
